<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xky.roll.music_service.mapper.MethodFieldsMapper">
  <resultMap id="BaseResultMap" type="com.xky.roll.music_service.pojo.MethodFields">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="key_id" jdbcType="INTEGER" property="keyId" />
    <result column="key_name" jdbcType="VARCHAR" property="keyName" />
    <result column="platform_method_id" jdbcType="INTEGER" property="platformMethodId" />
    <result column="in_or_out" jdbcType="TINYINT" property="inOrOut" />
  </resultMap>
</mapper>