<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xky.roll.music_service.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.xky.roll.music_service.pojo.SysUserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UID" jdbcType="INTEGER" property="uid" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
  </resultMap>
</mapper>